body {
   
   background-image: url('/static/background.jpeg');
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    
}

h3 {
    color: black;
    font-size: 50px;
    margin-top: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#buttonInput {
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #008CBA;
}

.userText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #d776dd;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;    
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #6b60e3;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}